
//- VERSION
//- =============================
input(name='attr_version' type='hidden' value='1')

//- MIXINS
include src/pug/_mixins.pug

<<<<<<< HEAD

h1.logo
.grid.outbreak-row
  .grid.box.navigation
    input(name='attr_tab' type='radio' value='1' class="sheet-tab sheet-tab1") 
    span MAIN
    input(name='attr_tab' type='radio' value='2' class="sheet-tab sheet-tab2") 
    span EQUIPMENT
    input(name='attr_tab' type='radio' value='3' class="sheet-tab sheet-tab3") 
    span LOG 

.grid.outbreak-row
  .grid.box.biobox
    each val in ['Name', 'Player', 'Campaign']
      - const attrName = val.toLowerCase();
      span #{val}
      input(data-i18n-placeholder=val name='attr_character_'+attrName placeholder=val title='@{character_'+attrName+'}' type='text' value='')

  .grid.box.logo
    img(alt='Outbreak Character Sheet', src='https://i.imgur.com/css0cBR.png')

.grid.outbreak-row
  .grid.box.spewbox
    .grid.box.spewlabel S.P.E.W. Attributes
    .grid.box.dicetypes

      each val in ['Strength', 'Perception', 'Empathy', 'Willpower']
        .grid.box.attributebox
          img(val=val, src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/outbreak/images/OU_Attributes_' + val + '_40x40.png')
          br
          span #{val}
          p
            input.spewbonus(type='text' name='attr_' + val +'bonus' title= val + 'Bonus' value='0')
            input.spewones(type='text' name='attr_' + val value='[[(@{#valBonus}*10)+@{val}]]')
    .grid.box.points
      each val in ['Survival', 'Competance', 'Gestalt']
        .grid.box.pointsbox
          span #{val} Points:
          input.points(type='text' name='attr_' + val +'points' title= val + 'points' value='0')

  .grid.box.dicepoolbox
    .grid.box.dicelabel
      span.dicepool Dice Pool
      span.info(title='Dice Pool will be used with all skill rolls. Set to Zero to clear.') i
      p
      span.rollpool
      | Roll Pool
      button(type='roll' name='roll_Pool' value='&{template:ou-small} {{Diff=@{dpDiff}}} {{Spd1=@{dpSpeed}}} {{Dmg=@{dpDmg}}} {{Deplet=@{dpDeplet}}} {{DieDif=@{DiffDie}}} {{DieSpd=@{SpeedDie}}} {{DieDmg=@{DmgDie}}} {{DieDep=@{DepletDie}}}')
    .grid.box.dicetypes
      img.dieimg(src='https://i.imgur.com/lum5jcz.jpg' title="Difficulty Dice - Diff dice don't show when rolling on a skill but they are calculated into the roll.")
      select#diff(name='attr_dpDiff' style='width:45px')
        option(value='[[0d6!p]]') 0
        option(value='[[1d6!p]]') 1
        option(value='[[2d6!p]]') 2
        option(value='[[3d6!p]]') 3
        option(value='[[4d6!p]]') 4
        option(value='[[5d6!p]]') 5

      img.dieimg(src='https://i.imgur.com/QIhFKV7.jpg' title='Speed Dice')
      select#diff(name='attr_dpDiff' style='width:45px')
        option(value='[[0d6!p]]') 0
        option(value='[[1d6!p]]') 1
        option(value='[[2d6!p]]') 2
        option(value='[[3d6!p]]') 3
        option(value='[[4d6!p]]') 4
        option(value='[[5d6!p]]') 5

      img.dieimg(src='https://i.imgur.com/EkBzVOm.jpg' title='Damage Dice')
      select#diff(name='attr_dpDiff' style='width:45px')
        option(value='[[0d6!p]]') 0
        option(value='[[1d6!p]]') 1
        option(value='[[2d6!p]]') 2
        option(value='[[3d6!p]]') 3
        option(value='[[4d6!p]]') 4
        option(value='[[5d6!p]]') 5

      img.dieimg(src='https://i.imgur.com/JyxTN3O.jpg' title='Depletion Dice')
      select#diff(name='attr_dpDiff' style='width:45px')
        option(value='[[0d6!p]]') 0
        option(value='[[1d6!p]]') 1
        option(value='[[2d6!p]]') 2
        option(value='[[3d6!p]]') 3
        option(value='[[4d6!p]]') 4
        option(value='[[5d6!p]]') 5
    .grid.box.dicetypes
      each val in ['Difficulty', 'Speed', 'Damage', 'Depletion']
        input(type='radio' name='attr_'+val+'Die' value='[[5d1]]' checked='checked')
        span d5!
        input(type='radio' name='attr_'+val+'Die' value='[[6d1]]')
        span d6
      
.grid.outbreak-row
  .grid.box.skills
    .grid.box.skilllabel Skills
      span Basic Skills
      each val in ['Balance', 'Brawl', 'Climb', 'Composure', 'Dodge', 'Endurance', 'Expression', 'Grapple', 'Hold', 'Jump/Leap', 'Lift/Pull', 'Resist Pain', 'Search', 'Spot/Listen', 'Stealth']
        - const attrName = val.toLowerCase();
        .grid.box.skillbox
          span #{val}
          input.skillstat(type='hidden' name='attr_' + val value='(@{perception}+@{Wb})' title='Perception + Wb' disabled='true')
          input.skillstat(type='text' name='attr_Gestalt' + val value='0' title='Input total skill gain from spent gestalt levels')
          input.skillstat(type='text' name='attr_'+ val +'Total' value='[[@#{val}+@{Gest#{val}}]]' title='Will add Base Training Value equal to Pb + Training Value multiplied by the multiplier or any gear you are using.' disabled='true')
          input.skillname(type='hidden' name='attr_'+val+'Tot' value='(@{#{val}Total} [Skill]+@{#{val}BaseTv} [Kit])' disabled='true')
          button.skillstat(type='roll' name='roll_'+val title='If using no gear select none and select a multiplier of 0' value='&{template:ou} {{name=@{character_name}}} {{roll_name={#{val}%}}} {{attr=#{val}}}} {{Target1=[[@{#{val}Tot}]]}} {{Target2=[[@{#{val}Tot}+1]]}} {{skill=VS.}} {{Diff=@{dpDiff}}} {{Spd1=@{dpSpeed}}} {{Dmg=@{dpDmg}}} {{Deplet=@{dpDeplet}}} {{DieDif=@{DiffDie}}} {{DieSpd=@{SpeedDie}}} {{DieDmg=@{DmgDie}}} {{DieDep=@{DepletDie}}} {{result=[[1d100+@{dpDiff} [Diff]]]}} {{dos1=[[@{#{val}Tot}-19]]}} {{dos2a=[[@{#{val}Tot}-20]]}} {{dos2b=[[@{#{val}Tot}-29]]}} {{dos3a=[[@{#{val}Tot}-30]]}} {{dos3b=[[@{#{val}Tot}-39]]}} {{dos4a=[[@{#{val}Tot}-40]]}} {{dos4b=[[@{#{val}Tot}-49]]}} {{dof1=[[@{#{val}Tot}+19]]}} {{dof2a=[[@{#{val}Tot}+20]]}} {{dof2b=[[@{#{val}Tot}+29]]}} {{dof3a=[[@{#{val}Tot}+30]]}} {{dof3b=[[@{#{val}Tot}+39]]}} {{dof4a=[[@{#{val}Tot}+40]]}} {{dof4b=[[@{#{val}Tot}+49]]}}')

      span Trained Skills
      each val in ['Bow/Crossbow', 'Calm Other', 'Deplomacy Persuade', 'Diplomacy Barter/Bribe', 'Diplomacy Command/Coax', 'Diplomacy Detect Motives', 'Diplomacy Intimidate', 'Digital Systems', 'Firearms Pistol', 'Firearms Long Gun', 'First Aid', 'Melee Attack Blunt', 'Melee Attack Pierce', 'Melee Attack Slash', 'Navigation', 'Swim', 'Throw']
        - const attrName = val.toLowerCase();
        .grid.box.skillbox
          span #{val}
          input.skillstat(type='hidden' name='attr_' + val value='(@{perception}+@{Wb})' title='Perception + Wb' disabled='true')
          input.skillstat(type='text' name='attr_Gestalt' + val value='0' title='Input total skill gain from spent gestalt levels')
          input.skillstat(type='text' name='attr_'+ val +'Total' value='[[@#{val}+@{Gest#{val}}]]' title='Will add Base Training Value equal to Pb + Training Value multiplied by the multiplier or any gear you are using.' disabled='true')
          input.skillname(type='hidden' name='attr_'+val+'Tot' value='(@{#{val}Total} [Skill]+@{#{val}BaseTv} [Kit])' disabled='true')
          button.skillstat(type='roll' name='roll_'+val title='If using no gear select none and select a multiplier of 0' value='&{template:ou} {{name=@{character_name}}} {{roll_name={#{val}%}}} {{attr=#{val}}}} {{Target1=[[@{#{val}Tot}]]}} {{Target2=[[@{#{val}Tot}+1]]}} {{skill=VS.}} {{Diff=@{dpDiff}}} {{Spd1=@{dpSpeed}}} {{Dmg=@{dpDmg}}} {{Deplet=@{dpDeplet}}} {{DieDif=@{DiffDie}}} {{DieSpd=@{SpeedDie}}} {{DieDmg=@{DmgDie}}} {{DieDep=@{DepletDie}}} {{result=[[1d100+@{dpDiff} [Diff]]]}} {{dos1=[[@{#{val}Tot}-19]]}} {{dos2a=[[@{#{val}Tot}-20]]}} {{dos2b=[[@{#{val}Tot}-29]]}} {{dos3a=[[@{#{val}Tot}-30]]}} {{dos3b=[[@{#{val}Tot}-39]]}} {{dos4a=[[@{#{val}Tot}-40]]}} {{dos4b=[[@{#{val}Tot}-49]]}} {{dof1=[[@{#{val}Tot}+19]]}} {{dof2a=[[@{#{val}Tot}+20]]}} {{dof2b=[[@{#{val}Tot}+29]]}} {{dof3a=[[@{#{val}Tot}+30]]}} {{dof3b=[[@{#{val}Tot}+39]]}} {{dof4a=[[@{#{val}Tot}+40]]}} {{dof4b=[[@{#{val}Tot}+49]]}}')

      span Expert Skills
      each val in ['Adv Medicine', 'Construct Engineer', 'Specialization','Specialization', 'Martial Arts', 'Pilot', 'Vehicle', 'Vehicle', 'Ride Animal', 'Animal', 'Science', 'Field Of Study', 'Field Of Study', 'Field Of Study', 'Survival', 'Toughness']
        - const attrName = val.toLowerCase();
        .grid.box.skillbox
          if val == 'Specialization' || val == 'Vehicle' || val == 'Animal' || val == 'Field Of Study'
            input(type='text' name='attr_'+val placeholder=val title=val style='width:80px;')
            input.skillstat(type='hidden' name='attr_' + val value='(@{perception}+@{Wb})' title='Perception + Wb' disabled='true')
            input.skillstat(type='text' name='attr_Gestalt' + val value='0' title='Input total skill gain from spent gestalt levels')
            input.skillstat(type='text' name='attr_'+ val +'Total' value='[[@#{val}+@{Gest#{val}}]]' title='Will add Base Training Value equal to Pb + Training Value multiplied by the multiplier or any gear you are using.' disabled='true')
            input.skillname(type='hidden' name='attr_'+val+'Tot' value='(@{#{val}Total} [Skill]+@{#{val}BaseTv} [Kit])' disabled='true')
            button.skillstat(type='roll' name='roll_'+val title='If using no gear select none and select a multiplier of 0' value='&{template:ou} {{name=@{character_name}}} {{roll_name={#{val}%}}} {{attr=#{val}}}} {{Target1=[[@{#{val}Tot}]]}} {{Target2=[[@{#{val}Tot}+1]]}} {{skill=VS.}} {{Diff=@{dpDiff}}} {{Spd1=@{dpSpeed}}} {{Dmg=@{dpDmg}}} {{Deplet=@{dpDeplet}}} {{DieDif=@{DiffDie}}} {{DieSpd=@{SpeedDie}}} {{DieDmg=@{DmgDie}}} {{DieDep=@{DepletDie}}} {{result=[[1d100+@{dpDiff} [Diff]]]}} {{dos1=[[@{#{val}Tot}-19]]}} {{dos2a=[[@{#{val}Tot}-20]]}} {{dos2b=[[@{#{val}Tot}-29]]}} {{dos3a=[[@{#{val}Tot}-30]]}} {{dos3b=[[@{#{val}Tot}-39]]}} {{dos4a=[[@{#{val}Tot}-40]]}} {{dos4b=[[@{#{val}Tot}-49]]}} {{dof1=[[@{#{val}Tot}+19]]}} {{dof2a=[[@{#{val}Tot}+20]]}} {{dof2b=[[@{#{val}Tot}+29]]}} {{dof3a=[[@{#{val}Tot}+30]]}} {{dof3b=[[@{#{val}Tot}+39]]}} {{dof4a=[[@{#{val}Tot}+40]]}} {{dof4b=[[@{#{val}Tot}+49]]}}')
          else
            span #{val}
            input.skillstat(type='hidden' name='attr_' + val value='(@{perception}+@{Wb})' title='Perception + Wb' disabled='true')
            input.skillstat(type='text' name='attr_Gestalt' + val value='0' title='Input total skill gain from spent gestalt levels')
            input.skillstat(type='text' name='attr_'+ val +'Total' value='[[@#{val}+@{Gest#{val}}]]' title='Will add Base Training Value equal to Pb + Training Value multiplied by the multiplier or any gear you are using.' disabled='true')
            input.skillname(type='hidden' name='attr_'+val+'Tot' value='(@{#{val}Total} [Skill]+@{#{val}BaseTv} [Kit])' disabled='true')
            button.skillstat(type='roll' name='roll_'+val title='If using no gear select none and select a multiplier of 0' value='&{template:ou} {{name=@{character_name}}} {{roll_name={#{val}%}}} {{attr=#{val}}}} {{Target1=[[@{#{val}Tot}]]}} {{Target2=[[@{#{val}Tot}+1]]}} {{skill=VS.}} {{Diff=@{dpDiff}}} {{Spd1=@{dpSpeed}}} {{Dmg=@{dpDmg}}} {{Deplet=@{dpDeplet}}} {{DieDif=@{DiffDie}}} {{DieSpd=@{SpeedDie}}} {{DieDmg=@{DmgDie}}} {{DieDep=@{DepletDie}}} {{result=[[1d100+@{dpDiff} [Diff]]]}} {{dos1=[[@{#{val}Tot}-19]]}} {{dos2a=[[@{#{val}Tot}-20]]}} {{dos2b=[[@{#{val}Tot}-29]]}} {{dos3a=[[@{#{val}Tot}-30]]}} {{dos3b=[[@{#{val}Tot}-39]]}} {{dos4a=[[@{#{val}Tot}-40]]}} {{dos4b=[[@{#{val}Tot}-49]]}} {{dof1=[[@{#{val}Tot}+19]]}} {{dof2a=[[@{#{val}Tot}+20]]}} {{dof2b=[[@{#{val}Tot}+29]]}} {{dof3a=[[@{#{val}Tot}+30]]}} {{dof3b=[[@{#{val}Tot}+39]]}} {{dof4a=[[@{#{val}Tot}+40]]}} {{dof4b=[[@{#{val}Tot}+49]]}}')

//- ROLL TEMPLATE
//include src/pug/_rolltemplate.pug
include src/pug/rolltemplate.html
=======
.container
	input(name='attr_tab' type='hidden' value='main')
	.main.tab
		.column
			.grid.playerinfo.box
				each val in ['Name', 'Player', 'Campaign']
					-const name = val.toLowerCase();
					h2(data-i18n=`${val}`) #{val}
					input(name=`attr_character_${name}` placeholder=val title=`@{character_${name}}` type='text' value='')

			.spewbox.box
				h1.green-header(data-i18n='S.P.E.W Attributes') S.P.E.W Attributes
				.grid.dicetypes
					each val in ['Strength', 'Perception', 'Empathy', 'Willpower']
						-const name = val.toLowerCase();
						.grid.attributes
							img(alt=`${val}` src=`https://raw.githubusercontent.com/clevett/roll20-character-sheets/outbreakv1/Outbreak/src/img/OU_Attributes_${val}_40x40.png`)
							h3(data-i18n=val) #{val}
							.grid
								input(name=`attr_${name}` type='hidden' value=`[[(@{${name}_bonus}*10)+@{${name}_base}]]`)
								label
									input(name=`attr_${name}_bonus` title=`@{${name}_bonus}` type='text' value='0')
								label
									input(name=`attr_${name}_base`  title=`@{${name}_base}` type='text' value=`0`)
				
				h2(data-i18n='Character Resources') Character Resources
				.grid.points
					each val in ['Survival', 'Gestalt', 'Competance']
						-const name = val === 'Gestalt' ? `${val.toLowerCase()}_level` : `${val.toLowerCase()}_points` ;
						if val === 'Gestalt'
							h3.yellow-header(data-i18n=`${val} Level:`) #{val} Level:
						else
							h3.green-header(data-i18n=`${val} Points:`) #{val} Points:
						label
							input.points(name=`attr_${name}` title=`@{${name}}` value='0' type='text')

				.grid.skills
					h1.yellow-header(data-i18n='Skills') Skills
					h2(data-i18n='Basic Skills') Basic Skills
					.skill-column
						.grid.header
							h3(data-i18n='Adv')
							h3(data-i18n='Tot')
						each val, key in {'Balance':['perception', 'willpower'], 'Brawl': ['strength', 'perception'], 'Climb':['strength','willpower'], 'Composure':['willpower', 'empathy'], 'Dodge':['perception', 'strength'], 'Endurance':['strength', 'willpower'], 'Expression':['empathy','perception'], 'Grapple':['strength', 'willpower']}
							+skillList(key, val[0], val[1])
					.skill-column
						.grid.header
							h3(data-i18n='Adv')
							h3(data-i18n='Tot')
						each val, key in {'Hold':['willpower','perception'], 'Jump/Leap':['strength','perception'], 'Lift/Pull':['strenght','willpower'], 'Resist Pain':['willpower','strength'], 'Search':['perception','willpower'], 'Spot/Listen':['perception','willpower'], 'Stealth':['perception','willpower']}
							+skillList(key, val[0], val[1])

					h2(data-i18n='Trained Skills') Trained Skills
					.skill-column
						each val,key in {'Bow':['perception', 'strenght'], 'Calm Other':['empathy', 'willpower'], 'Persuade':['empathy', 'willpower'], 'Barter':['empathy', 'willpower'], 'Command':['empathy', 'willpower'], 'Detect Motives':['empathy', 'willpower'], 'Intimidate':['empathy', 'willpower'], 'Digital Systems':['perception', 'willpower']}
							+skillList(key, val[0], val[1])
					.skill-column
						each val,key in {'Pistol':['perception', 'willpower'], 'Long Gun':['perception', 'willpower'], 'First Aid':['perception', 'willpower'], 'Blunt':['strength', 'willpower'], 'Pierce':['strength', 'willpower'], 'Slash':['strength', 'willpower'], 'Navigation':['perception', 'willpower'], 'Swim':['strength', 'willpower'], 'Throw':['perception', 'strength']}
							+skillList(key, val[0], val[1])

					h2(data-i18n='Expert Skills') Expert Skills
					.skill-column
						each val, key in {'Adv Medicine':['perception', 'willpower'], 'Construct Engineer':['perception', 'willpower'], 'Martial Arts':['strength', 'perception'], 'Pilot':['perception', 'willpower']}
							+expertSkillList(key, val[0], val[1])
					.skill-column
						each val, key in {'Ride': ['empathy', 'willpower'], 'Science':['perception', 'willpower'], 'Survival':['perception', 'willpower'], 'Toughness':['strength', 'willpower']}
							+expertSkillList(key, val[0], val[1])
					.grid.repeating-container
						each val in ['Specalizations', 'Attr', 'Bonus', 'Adv', 'Skill', 'Roll',]
							h3(data-i18n=val) #{val}
						fieldset(class='repeating_skills')
							input(name=`attr_button_base` type='hidden' value=`[[(?{Gear Or Kit| None, 0 | Archery, @{archery_gear}+@{attribute_bonus}|Athletic Gear, @{athletic_gear}+@{attribute_bonus}|Bludgeon, @{bludgeoning}+@{attribute_bonus}|Climbing Gear, @{climbing_gear}+@{attribute_bonus}|Command Apparatus, @{command_app}+@{attribute_bonus}|Firefighting, @{firefighting}+@{attribute_bonus}|First Aid Kit, @{first_aid_kits}+@{attribute_bonus}|Long Gun, @{long_gun}+@{attribute_bonus}|Martial Arts, @{martial_arts}+@{attribute_bonus}|Medical Gear, @{medical_gear}+@{attribute_bonus}|Piercing, @{piercing}+@{attribute_bonus}|Pistol, @{pistol}+@{attribute_bonus}|Recon Gear, @{recon_gear}+@{attribute_bonus}|Slashing, @{slashing}+@{attribute_bonus}|Survival Kit, @{survival_kit}+@{attribute_bonus}|Swimming/Diving, @{swimming_diving}+@{attribute_bonus}|Throwing, @{throwing}+@{attribute_bonus}|Tools, @{tools}+@{attribute_bonus}|Value, @{value}+@{attribute_bonus}|Vehicles, @{vehicles}+@{attribute_bonus}})*?{Multiplier|1|2|3|4|5}]]`)

							input(name=`attr_total` type='hidden' value=`(@{skill} [Skill]+@{button_base} [Kit])`)
							input(name=`attr_skill_name` type='text' value=``)

							select(name='attr_attribute_base' value='@{perception_bonus}')
								option(value='@{strength_bonus}') strength
								option(value='@{perception_bonus}' selected) perception
								option(value='@{empathy_bonus}') empathy
								option(value='@{willpower_bonus}') willpower

							select(name='attr_attribute_bonus' value='@{willpower_bonus}')
								option(value='@{strength_bonus}') strength
								option(value='@{perception_bonus}') perception
								option(value='@{empathy_bonus}') empathy
								option(value='@{willpower_bonus}' selected) willpower

							label
								input.center(name=`attr_advancement` type='number' value='0')
							label
								input.center(name=`attr_skill` type='hidden' value=`0`)
								span(name=`attr_skill`)

							button.dicefontd10(name=`roll_name` type='roll' value!=`&{template:ou} {{name=@{character_name}}} {{roll_name=@{skill_name}}} {{attr=@{skill}}} {{Target1=[[@{total}]]}} {{Target2=[[@{total}+1]]}} {{skill=VS.}} {{Diff=@{difficulty_dice}}} {{Spd1=@{speed_dice}}} {{Dmg=@{damage_dice}}} {{Deplet=@{depletion_dice}}} {{DieDif=@{difficulty_die}}} {{DieSpd=@{speed_die}}} {{DieDmg=@{damage_die}}} {{DieDep=@{depletion_die}}} {{result=[[1d100+@{difficulty_dice} [Diff]]]}} {{dos1=[[@{total}-19]]}} {{dos2a=[[@{total}-20]]}} {{dos2b=[[@{total}-29]]}} {{dos3a=[[@{total}-30]]}} {{dos3b=[[@{total}-39]]}} {{dos4a=[[@{total}-40]]}} {{dos4b=[[@{total}-49]]}} {{dof1=[[@{total}+19]]}} {{dof2a=[[@{total}+20]]}} {{dof2b=[[@{total}+29]]}} {{dof3a=[[@{total}+30]]}} {{dof3b=[[@{total}+39]]}} {{dof4a=[[@{total}+40]]}} {{dof4b=[[@{total}+49]]}}`) t

			.equipment.grid.box
				h1.green-header.center(data-i18n='Equipment') Equipment
				textarea(data-i18n-placeholder='Equipment' name='attr_equipment' placeholder='Equipment' value='')
		
		.column
			.grid.box.logo
				img(alt='Outbreak Character Sheet', src='https://raw.githubusercontent.com/clevett/roll20-character-sheets/outbreakv1/Outbreak/src/img/OU_Logo_340pxWx90pxH.png')
					
			.grid.box.dice-box
				button(data-i18n='Dice Pool' name='roll_Pool' type='roll' value='&{template:ou-small} {{Diff=@{difficulty_dice}}} {{Spd1=@{speed_dice}}} {{Dmg=@{damage_dice}}} {{Deplet=@{depletion_dice}}} {{DieDif=@{difficulty_die}}} {{DieSpd=@{speed_die}}} {{DieDmg=@{damage_die}}} {{DieDep=@{depletion_die}}}')

				.die
					img(alt='difficulty dice' src='https://raw.githubusercontent.com/clevett/roll20-character-sheets/outbreakv1/Outbreak/src/img/HuntersIcon_difficulty_16pxW_x16pxH.jpg' title='Difficult Dice')
					select(name='attr_difficulty_dice')
						- let n = 0;
						while n < 6
							option(data-i18n=n value=`[[${n}d6!p]]`) #{n}
							- n++

				each val in ['speed', 'damage', 'depletion']
					.die
						img(alt=`${val} dice` src=`https://raw.githubusercontent.com/clevett/roll20-character-sheets/outbreakv1/Outbreak/src/img/HuntersIcon_${val}_16pxW_x16pxH.jpg`)
						+diceSelect(`${val}`)

				each val in ['difficulty', 'speed', 'damage', 'depletion']
					.die
						+dieRadios(val)

			.grid.box.health
				.grid.vitality
					h1.green-header(data-i18n='Vitality') Vitality
					.grid.header
						h2(data-i18n='Injuries') Injuries
						h2(data-i18n='Damage Threshold') Damage Threshold
					.grid.body
						h3(data-i18n='Health Points')
						.grid.injuries
							- let i = 0;
							while i < 5
								- i++
								input(name=`attr_injury_${i}` type='checkbox')
								input(name=`attr_injury_${i}_details` type='text' value='')
						.grid.damage-threshold
							.row
								h3(data-i18n='Sb + Wb') Sb + Wb
								input(name='attr_damage_treshold_base' type='number' value='(@{strength_bonus}+@{willpower_bonus})' disabled='true')
							.row
								h3(data-i18n='Bonus') Bonus
								input(name='attr_damage_threshold_bonus' type='number' value='0')
							.row
								h3(data-i18n='Total') Total
								input(name='attr_damage_threshold' type='number' value='(@{strength_bonus}+@{willpower_bonus}+@{damage_threshold_bonus})' disabled='true')

				.grid.viral
					h1.yellow-header(data-i18n='Viral') Viral
					.virus-checkboxes
						- let v = 0;
						while v < 10
							- v++
							input(name=`attr_viral_${v}` value=v type='checkbox')
							span
					h2(data-i18n='Symptoms') Symptoms
					textarea(name='attr_symptoms')

				.grid.pysche
					h1.yellow-header(data-i18n='Psyche') Psyche
					h2(data-i18n='Wb + Eb') Wb + Eb
					h2(data-i18n='Bonus') Bonus
					h2(data-i18n='Total') Total

					h2(data-i18n='Morale') Morale
					input(name='attr_morale_base' type='number' value='(@{willpower_bonus}+@{empathy_bonus})' disabled='true')
					span +
					input(name='attr_morale_bonus' type='number' value='0')
					span =
					input(name='attr_morale' type='number' value='(@{morale_base}+@{morale_bonus})' disabled='true')

					h2(data-i18n='Coping Mechanisms') Coping Mechanisms
					textarea(name='attr_coping_mechanisms')

			.grid.box.training-value
				h1.green-header(data-i18n='Training Value Bonus') Training Value Bonus

				.grid.red-kits
					each val in ['Archery Gear', 'Long Gun', 'Bludgeoning', 'Pistol', 'Piercing', 'Throwing', 'Slashing', 'Martial Arts']
						-const name = val.replace(' ', '_').toLowerCase();
						.kits
							h2(data-i18n=`${val}`) #{val}
							img(alt='' src=`https://raw.githubusercontent.com/clevett/roll20-character-sheets/outbreakv1/Outbreak/src/img/KitIcons_${val.replace(' ', '')}_30x30.png`)
							input(name=`attr_${name}` type='number' value='')

				.grid.green-kits
					each val in ['Athletic Gear', 'First Aid Kits', 'Swimming/Diving', 'Climbing Gear', 'Medical Gear', 'Tools', 'Command App', 'Recon Gear', 'Value', 'Firefighting', 'Survival Kit', 'Vehicles']
						-const name = val.replace(/ /g, '_').replace('/', '_').toLowerCase();
						.kits
							h2(data-i18n=`${val}`) #{val}
							img(alt='' src=`https://raw.githubusercontent.com/clevett/roll20-character-sheets/outbreakv1/Outbreak/src/img/KitIcons_${val.replace(/ /g, '').replace('/', '')}_30x30.png`)
							input(name=`attr_${name}` type='number' value='')


//- ROLL TEMPLATE
include src/pug/rolltemplate.html


//- SCRIPTS
script(type='text/worker')
	include src/js/scripts.js
>>>>>>> 3e3aaa21464c8a382952d339d32840eb263262b1
